/*
 * 稿定设计
 * https://www.gaoding.com
 ******************************************************************************/
.editor-watermark {
  display: none !important;
  z-index: -1996 !important;
  filter: opacity(0) !important;
}
