/*
 * 飞书
 * https://bytedance.feishu.cn/wiki/wikcnrOVHCJQ4V3a7mDvmLjrePf
 * https://fyze31atzb.feishu.cn/wiki/MFOQwW2Hric2uwkvjcJczTExn3c
 * https://mxmefbp9p0g.feishu.cn/docx/ZI3ldweTXorTvMxYLbucT00Un5n
 ******************************************************************************/
.suite-clear[style],
.print-watermark[style],
.ssrWaterMark[style] {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
