# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules

# Development
libs-dev

# Other
packages/**/*.js
