/**
 ** 稿定设计
 * -------------------------------------------------------------------------- */
.editor-watermark {
  display: none !important;
  z-index: -1996 !important;
  filter: opacity(0) !important;
}

/*
 * 腾讯视频播放页右上角 logo
 * https://v.qq.com/x/cover/mzc0020027yzd9e/q0043cz9x20.html
 ******************************************************************************/
txpdiv.txp-watermark {
  opacity: 0 !important;
}

/*
 * 爱奇艺播放页 logo
 * https://www.iqiyi.com/v_xkt6z3z798.html
 ******************************************************************************/
.iqp-logo-box,
.iqp-logo-top,
.iqp-logo-bottom {
  display: none !important;
}

/*
 * 优酷播放页 logo
 * https://www.iqiyi.com/v_xkt6z3z798.html
 ******************************************************************************/
watermark-layer {
  opacity: 0 !important;
}

/*
 * 哔哩哔哩直播左上角 logo
 * https://live.bilibili.com/
 ******************************************************************************/
.web-player-icon-roomStatus {
  opacity: 0 !important;
}

/*
 * 腾讯课堂播放页漂浮水印
 * https://ke.qq.com/course/list?mt=1001&st=2004&quicklink=1
 ******************************************************************************/
#loki-player div[style*='position: absolute;'] {
  display: none !important;
}
