/**
 ** 稿定设计
 * -------------------------------------------------------------------------- */
.editor-watermark {
  display: none !important;
  z-index: -1996 !important;
  filter: opacity(0) !important;
}

/*
 * 腾讯视频播放页右上角 logo
 * https://v.qq.com/x/cover/mzc0020027yzd9e/q0043cz9x20.html
 ******************************************************************************/
txpdiv.txp-watermark {
  opacity: 0 !important;
}
