/* 播放页右上角 logo */
.iqp-logo-box,
.iqp-logo-top,
.iqp-logo-bottom,

/* 直播右上角 log */
.zpc-watermark,

/* 暂停时的广告 */
iqpdiv.flash-max {
  display: none !important;
}
iqpdiv.iqp-player-videolayer {
  top: initial !important;
  left: initial !important;
  width: 100% !important;
  height: 100% !important;
}
